@import './base/colors';
@import './base/variables';
@import './base/thypography';

@import './components/appbar';
@import './components/buttons';
@import './components/dialogs';
@import './components/application';
@import './components/checkbox';
@import './components/text';
@import './components/textfield';
@import './components/table';
@import './components/breadcrumbs';

@import './components/expansionPanel';
@import './components/invitation';
@import './components/login';
@import './components/categories';

html {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

span {
  font-size: 14px;
  padding: 1px;
}