/* .v-application--wrap{
    min-width: 350px;
    max-width: 1366px;
} */

.v-main{
    padding-right: 0px !important;
    .container{
        padding: 0% 8% 0% 8% !important;
        margin: 0px 0px 0px 0px !important;
    }
}