.v-breadcrumbs{
    font-family: $OpenSans-Regular;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    padding: 12px !important;
  }
  .v-breadcrumbs__divider {
    padding: 0 2px !important;
  }