.pr-bg {
    background-image: url("~@/app/assets/logo.svg");
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important;
    height: 90vh;
  }

.pr-bg-login {
   background-image: linear-gradient(
       0deg,
       #ffffff 0%,
       rgba(255, 255, 255, 0) 100%
     ),
     url("~@/app/assets/logo.svg");
   background-repeat: no-repeat !important;
   -webkit-background-size: contain !important;
   -moz-background-size: cover !important;
   -o-background-size: cover !important;
   background-size: cover !important;
   background-position: center !important;
 }

 .header-login {
   position: absolute;
   width: 100%;
   height: 21vh;
   left: 0px;
   top: 0px;
 }

.Logout {
   border-bottom: 2px solid #ffff !important;
   border-top: 2px solid #ffff !important;
 }
 .select{
 border-radius: 20px;
}

.listHover{
    &:hover{
        background-color: #FF8F00 !important;
    }
}
